*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Meow Script';
  src: url('./fonts/Meow_Script/MeowScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: calc(1rem + 0.5vw, 1.5rem);
  font-family: 'Space Mono', monospace;
  color: #fffffe;
}

body {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 7rem;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #1d3557;
}

.banner {
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.banner p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  color: #539683;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

.container {
  transform: translateX(-2.5rem);
  margin-top: -7rem;
}

.header {
  margin: 3rem;
  padding-right: 3.5rem;
}

.cardcontainer {
  display: flex;
  position: relative;
}

.cards {
  background-color: white;
  height: 10rem;
  width: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}


.card1 {
  transform: rotate(15deg);
  top: 6rem;
  left: 4.5rem;
  z-index: 2;
}

.card2 {
  transform: rotate(-20deg);
  top: 9rem;
  left: 10rem;
  z-index: 1;
}

.card3 {
  transform: rotate(-10deg);
  top: -1rem;
  left: 10rem;
}

.card4 {
  transform: rotate(10deg);
  top: -4rem;
  left: 16rem;
}

.card5 {
  transform: rotate(10deg);
  top: 6rem;
  left: 16rem;
  z-index: 1;
}

.cards p {
  align-self: self-end;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
  color: #539683;
  text-align: center;
  padding: 0.5rem;
  font-family: 'Meow Script', cursive;
}

img {
  width: 6rem;
  height: 7rem;
  padding: 0rem 0.1rem 0 0.1rem;
  object-fit: cover;
}

.cards:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  z-index: 99;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: -10rem;
  left: 6rem;
  gap: 1rem;
}

i {
  font-size: 2rem;
  color: white;
}

i:hover {
  color: #539683;
  transition: color 0.5s ease-in-out;
}

/* Functionality */

/* .cards.show-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */


/*Resposiveness */

@media screen and (min-width: 320px) and (max-width: 767px) {

  body {
    height: 90vh;
  }

}

@media screen and (min-width: 400px) and (max-width: 750px) {

  body {
    height: 87vh;
  }


}

@media (min-width: 768px) {
  body {
    height: 92vh;
    padding-top: 0;
  }

  .banner {
    height: 5rem;
  }

  .banner p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  .container {
    transform: translateX(0);
    margin-top: 0;
  }

  .header {
    padding-right: 7rem;
    margin: 5rem;
    position: relative;
    right: 7rem;
  }

  .cards {
    height: 15rem;
    width: 13rem;
    gap: 1rem;
    padding: 1rem;
  }

  .card1 {
    transform: rotate(23deg);
    top: 12rem;
    left: -2rem;
    z-index: 2;
  }

  .card2 {
    transform: rotate(-30deg);
    top: 15rem;
    left: 9rem;
    z-index: 1;
  }

  .card3 {
    transform: rotate(-15deg);
    top: -1rem;
    left: 6rem;
  }

  .card4 {
    transform: rotate(10deg);
    top: -4rem;
    left: 18rem;
  }

  .card5 {
    transform: rotate(10deg);
    top: 10rem;
    left: 22rem;
    z-index: 1;
  }

  .cards p {
    font-size: 1rem;
  }

  img {
    width: 11rem;
    height: 11rem;
  }
}

@media (min-width: 1024px) {
  body {
    height: 95vh;
    padding-top: 0;
  }

  .banner {
    height: 5rem;
  }

  .banner p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  .container {
    transform: translateX(0);
    margin-top: 0;
  }

  .header {
    margin: 5rem;
  }

  .cards {
    height: 12rem;
    width: 8rem;
    gap: 1rem;
    padding: 1rem;
  }

  .cards p {
    font-size: 0.6rem;
  }

  .card1 {
    transform: rotate(23deg);
    top: 8rem;
    left: -2rem;
    z-index: 2;
  }

  .card2 {
    transform: rotate(-30deg);
    top: 9rem;
    left: 5rem;
    z-index: 1;
  }

  .card3 {
    transform: rotate(-15deg);
    top: -5rem;
    left: 4rem;
  }

  .card4 {
    transform: rotate(10deg);
    top: -4rem;
    left: 12rem;
  }

  .card5 {
    transform: rotate(10deg);
    top: 8rem;
    left: 14rem;
    z-index: 1;
  }

  img {
    width: 7rem;
    height: 11rem;
  }
}

@media (min-width: 1440px) {
  body {
    height: 100vh;
    padding-top: 0;
  }

  .banner {
    height: 5rem;
  }

  .banner p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  .container {
    transform: translateX(0);
    margin-top: 0;
  }

  .header {
    margin: 5rem;
  }

  .cards {
    height: 15rem;
    width: 10rem;
    gap: 1rem;
    padding: 1rem;
  }

  .cards p {
    font-size: 1rem;
  }

  img {
    width: 8rem;
    height: 10rem;
  }
}

@media (min-width: 2560px) {
  body {
    height: 100vh;
    padding-top: 0;
  }

  .banner {
    height: 5rem;
  }

  .banner p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  .container {
    transform: translateX(0);
    margin-top: 0;
  }

  .header {
    margin: 5rem;
  }

  .cards {
    height: 15rem;
    width: 10rem;
    gap: 1rem;
    padding: 1rem;
  }

  .cards p {
    font-size: 1rem;
  }

  img {
    width: 8rem;
    height: 10rem;
  }
}