*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: calc(1rem + 0.5vw, 1.5rem);
  font-family: 'Space Mono', monospace;
  color: #fffffe;
}

body {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 7rem;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #1d3557;
}

.banner {
  width: 100%;
  height: 5rem;
  background-color: #ffffff;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.banner p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  color: #539683;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.container {
  transform: translateX(-4rem);
}

.header {
  margin: 3rem;
}

.cardcontainer {
  display: flex;
  position: relative;
}

.cards {
  background-color: white;
  height: 10rem;
  width: 7rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: absolute;
}


.card1 {
  transform: rotate(25deg);
  top: 5rem;
  left: 4rem;
  z-index: 2;
}

.card2 {
  transform: rotate(-10deg);
  top: 7rem;
  left: 10rem;
  z-index: 1;
}

.card3 {
  transform: rotate(-20deg);
  top: -1rem;
  left: 10rem;
}

.card4 {
  transform: rotate(30deg);
  top: -2rem;
  left: 15rem;
}

.card5 {
  transform: rotate(30deg);
  top: 5rem;
  left: 17rem;
}

.cards p {
  align-self: self-end;
  font-size: 0.5rem;
  font-weight: 400;
  color: #539683;
}

img {
  width: 6rem;
  height: 7rem;
  padding: 0rem 0.1rem 0 0.1rem;
  object-fit: cover;
}

.cards:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  z-index: 99;
}